# MATH 210 Introduction to Mathematical Computing

## January 18, 2023

* Lists, tuples and range objects
* Indexing and slicing
* List comprehensions
* Buitling functions for sequences: `sum`, `len`, `min`, `max`

## Lists, Tuples and Range Objects

There are 3 main types of sequences objects: lists, tuples and range objects. Lists and tuples are sequences of arbitrary values whereas range objects are sequences of integers.

Use square brackets `[ ... ]` to create lists:

In [1]:
squares = [1,4,9,16,25,36,49,64,81,100]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Use parentheses `( ... )` to create tuples:

In [2]:
date = (2023,1,18)
print(date)

(2023, 1, 18)

Tuples are immutable. We can't change the entries after defining a tuple.

In [3]:
date[0] = 1999

TypeError: 'tuple' object does not support item assignment

But we can change the entries in a list:

In [4]:
squares[0] = -1

In [5]:
print(squares)

[-1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [6]:
type(squares)

list

In [7]:
type(date)

tuple

A range object is a sequence of integers. The syntax `range(a,b,step)` creates a sequence of integers from `a` to `b` (exclusive) by increment `step`. The values are not actually created and stored when we define a range instead the range object gives us the values only when we ask for it.

In [8]:
numbers = range(0,11)
print(numbers)

range(0, 11)

Use the builtin function `list` to convert a range to a list object:

In [9]:
list(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Use a range object in a `for` loop:

In [10]:
for n in numbers:
    print(n)

0
1
2
3
4
5
6
7
8
9
10

Convert a range to a list using the builtin function `list`:

In [11]:
list(range(0,100,7))

[0, 7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98]

## Indexing and Slicing

Access the entries in a sequence by bracket syntax:

In [12]:
primes = [2,3,5,7,11,13,17,19,23,29,31,37,41]
primes

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41]

In [13]:
primes[2]

5

We can also use negative indices to access entries starting from the end of the sequence:

In [14]:
primes[-1]

41

We can access subsequences using the colon `:` operator:

In [15]:
primes

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41]

In [16]:
primes[2:5]

[5, 7, 11]

## List Comprehensions

A list comprehension is Python syntax for creating lists:
```
sequence = [expression for item in iterable]
```
where:
* `item` is variable name
* `iterable` is a sequence
* `expression` is a Python expression involving `item`

For example, let's create the list of squares from 1 to 100:

In [17]:
squares = [n**2 for n in range(1,11)]
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Create the list of values from 0 to 1 incremented by 0.1:

In [18]:
x = [round(0.1*n,1) for n in range(0,11)]
x

[0.0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1.0]

## Builtin Functions

Compute the length of a sequence with `len`:

In [19]:
len([1,2,3,4,5])

5

Compute the sum with `sum`:

In [20]:
sum(range(1,10))

45

Compute the maximum value with `max` (and minimum value with `min`):

In [21]:
max([-2,3,4,6,1,-3,2,4])

6

In [22]:
min([-2,3,4,6,1,-3,2,4])

-3

Let's use `max` to approximate the maximum value of
$$
f(x) = \frac{1+x-x^3}{1+x^2}
$$
over the interval $(-1,1)$.

In [23]:
xs = [round(0.01*n,1) for n in range(-100,101)]
ys = [(1 - x + x**3)/(1 + x**2) for x in xs]
max(ys)

1.1678899082568808