# MATH 210 Introduction to Mathematical Computing

## January 16, 2023

* Numbers
* Variables
* Sequences

## Numbers

There are 3 main numeric types in Python: integers (`int`), floating point numbers (`float`) and complex numbers (`complex`). Floating point numbers (aka. floats) are real numbers in decimal form (up to 16 significant digits).

For example, let's compute
$$
{ n \choose m } = \frac{n!}{(n - m)! m!}
$$
for $n = 5$ and $m=2$:

In [1]:
(5*4*3*2*1)/((3*2*1)*(2*1))

10.0

Notice that $n \choose m$ is an integer (by definition) however Python always returns a float when computing division.

Let's compute the partial Taylor series for $\cos(x)$:

$$
\cos(x) = \sum_{n=0}^{\infty} \frac{(-1)^n x^{2n}}{(2n)!}
= 1 - \frac{x^2}{2} + \frac{x^4}{4!} - \frac{x^6}{6!} + \cdots
$$

Compute for $x=2$ up to 4 terms:

In [2]:
1 - 2**2/2 + 2**4/(4*3*2*1) - 2**6/(6*5*4*3*2*1)

-0.4222222222222223

Now let's approximate $\cos(1)$:

In [3]:
1 - 1**2/2 + 1**4/(4*3*2*1) - 1**6/(6*5*4*3*2*1)

0.5402777777777777

It's inefficient to change values manually everywhere they appear like $x$ in the formula above. We should use variables!

## Variables

A variable is a name we give to value to reuse in our Python code. Let's do the Taylor series for $\cos(x)$ using a variable $x$.

In [4]:
x = 1
1 - x**2/2 + x**4/(4*3*2*1) - x**6/(6*5*4*3*2*1)

0.5402777777777777

We use the familiar variables names `x`, `y` and `z` for mathematical formulas. It's good practice to use descriptive variable names in longer Python programs and functions. But there are [reserved words](https://docs.python.org/3.3/reference/lexical_analysis.html#keywords) and [builtin function names](https://docs.python.org/3/library/functions.html) that we must avoid.

For example, do not use builtin function names as variable names such as `sum`, `type`, `list`, `int`, ...

In [5]:
sum

If you use a builtin function name, there won't be an error but the buitlin function will be lost ... until you restart the kernel.

You can't use a reserved word as a variable name. Python will throw an error.

In [6]:
lambda = 1

SyntaxError: invalid syntax (2731178159.py, line 1)

Use the Jupyter command `whos` to display all the variables defined in the current environment.

In [7]:
whos

Variable   Type    Data/Info
----------------------------
x          int     1

Let's compute the first 6 terms of the Taylor series of $\log(1 + x)$ for $x = 1/2$:

$$
\log(1 + x) = \sum_{n=1}^{\infty} \frac{(-1)^{n+1} x^n}{n} \ \ , \ |x| < 1
$$

In [8]:
x = 1/2
x - x**2/2 + x**3/3 - x**4/4 + x**5/5 - x**6/6

0.4046875

## Sequences

Typing out all the terms in a series is inefficient. Instead we can construct sequences using Python list comprehensions. But before we get to list comprehension, let's talk about tuples, lists and ranges.

There are 3 main sequence types in Python: tuples, lists and range objects.

There isn't much of a difference between tuples and lists. Let's just use lists by default. We can change the entries in a list after defining it but we can't with tuples (this is called mutable/immutable).

Use square brackets to define a list.

In [9]:
v = [1,2,3]

In [10]:
v

[1, 2, 3]

In [11]:
type(v)

list

We can make lists of any kind of value including lists of lists.

In [12]:
M = [[1,2],[3,4]]
M

[[1, 2], [3, 4]]

Access entries using its index (starting from 0):

In [13]:
v[0]

1

In [14]:
v[1]

2

In [15]:
v[2]

3

In [16]:
M[0]

[1, 2]

In [17]:
M[0][1]

2

Range objects are usually used in loops. They are more memory efficient because they don't store all the entries, they just provide you with each entry when you ask for it. The syntax `range(a,b,step)` creates the list of integers from `a` to `b` (exclusive) incremented by `step`.

In [18]:
range(0,10,2)

range(0, 10, 2)

In [19]:
for n in range(0,10,2):
    print(n**2)

0
4
16
36
64

We can use the builtin function sum to add entries in a sequence.

In [20]:
sum(range(1,1001))

500500